aldryn-bootstrap3==1.2.2
django==1.10.8
#django-activity-stream==0.6.3
django-anymail[mailgun]==0.11
django-autofixture==0.12.1
#django-autoslug==1.9.4
django-badgify==0.2.0
django-bootstrap3==8.2.2
django-bootstrap-breadcrumbs==0.8.2
django-bootstrap-pagination==1.6.2
django-ckeditor==5.2.2
django-cms==3.4.5
django-comments-xtd==2.0.9
django-contrib-comments==1.8.0
django-crispy-forms==1.6.1
#django-environ==0.4.3
django-filter==1.0.4
django-fsm==2.6.0
django-fsm-admin==1.2.4
django-haystack==2.6.1
django-image-cropping==1.0.4
django-imagekit==4.0.1
django-import-export==0.5.1
django-jsonfield==1.0.1
django-jsonfield-compat==0.4.4
django-mptt==0.8.7
django-redis==4.7.0
django-registration==2.2.0
django-rq==0.9.5
django_select2==5.11.0
django-taggit==0.22.1
django-taggit-helpers==0.1.4
django-treebeard==4.1.2
django-debug-toolbar==1.8
django-extensions==1.9.8

djangorestframework==3.7.3
djangocms-admin-style>=1.2,<1.3
djangocms-attributes-field==0.3.0
djangocms-column>=1.6
djangocms-forms==0.2.5
djangocms-googlemap>=0.5
djangocms-link>=1.8
djangocms-snippet>=1.9
djangocms-style>=1.7
djangocms-text-ckeditor>=3.2.1
djangocms-video>=2.0

easy-thumbnails==2.4.1
django-filer>=1.2
brotlipy==0.7.0
cmsplugin-filer>=1.1
pytz
django-classy-tags>=0.7
html5lib>=0.999999,<0.99999999
django-sekizai>=0.9
six
whitenoise==4.0b3

coreapi==2.3.3
docutils==0.13.1
elasticsearch>=2.3.0,<2.4.0
eventlet==0.21.0
geopy==1.11.0
gevent==1.2.2
graphviz==0.7
gspread==0.6.2
gunicorn==19.7.1
Markdown==2.6.8
oauth2client==4.0.0
parsedatetime==2.4
Pillow==4.2.1
psycopg2==2.7.3.2
rdflib==4.2.2
redis==2.10.5
requests==2.18.1
rq-scheduler==0.7.0
sodapy==1.4.3
stringcase==1.0.6
tablib==0.11.5
Whoosh==2.7.4

pytest-django==3.1.2


google-api-python-client==1.6.2
git+https://github.com/justquick/django-activity-stream.git@1cd38f2a0bf512418ff43d53112acfad5ffb0e64#egg=django-activity-stream
git+https://github.com/zbyte64/django-environ.git@22813ac98d0176bfb3806cdccbde7d515d6777a3#egg=django-environ
#git+https://github.com/zbyte64/django-flag.git@master#egg=django-flag
git+https://github.com/neithere/django-autoslug.git@223771076e63c1b50f75fb2a576f2ea4c6bad514#egg=django-autoslug
django-flag==0.1.1

#production
#django-s3-storage==0.11.1
django-s3direct==0.4.10
django-storages==1.6.3
requests-aws4auth==0.9
boto3==1.4.4

pygraphviz
pyparsing
pydot
psycogreen==1.0
sphinx==1.6.6
sphinxcontrib-django==0.2.1
