{% extends "base.html" %}
{% load i18n %}

{% block title %}Account Activation | {{ site.name }}{% endblock title %}
{% block body_class %}accounts{% endblock %}

{% block content %}
<div id="profile-page-wrapper" class="account-page-wrapper">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h1>{% trans "Account Activation Failed" %}</h1>
            <p>
                We're sorry but this account could not be activated. Please contact <a href="mailto:help@lacounts.org">help@lacounts.org</a> for more information.
            </p>
        </div>
    </div>
</div>
{% endblock %}
