{% extends "base.html" %}
{% load i18n bootstrap3 django_bootstrap_breadcrumbs %}

{% block title %}Change Password | {{ site.name }}{% endblock title %}
{% block body_class %}accounts{% endblock %}

{% block content %}
<div id="login-page-wrapper" class="account-page-wrapper">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Change Password</h1>
      <form method="post" action=".">
        {% csrf_token %}
        {{ form.media }}
        {% bootstrap_form form %}
      
        {% buttons %}
          <button type="submit" class="btn btn-primary">
            Submit
          </button>
        {% endbuttons %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
