{% extends "base.html" %}
{% load i18n %}

{% block title %}Reset Password | {{ site.name }}{% endblock title %}
{% block body_class %}accounts{% endblock %}

{% block content %}
<div id="profile-page-wrapper" class="account-page-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="widget" data-widget="widget-title">
                <div class="widget-inside">
                    <h1 class="widget-title">Reset Password</h1>
                </div>
            </div>
            <p>{% trans "Email with password reset instructions has been sent." %}</p>
        </div>
    </div>
</div>
{% endblock %}
