{% extends "base.html" %}
{% load i18n %}

{% block title %}Reset Password | {{ site.name }}{% endblock title %}
{% block body_class %}accounts{% endblock %}

{% block content %}

{% if validlink %}
<div id="profile-page-wrapper" class="account-page-wrapper">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h1>Reset Password</h1>
            <form method="post" action=".">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" value="{% trans 'Submit' %}" />
            </form>
        </div>
    </div>
</div>
{% else %}
<div id="profile-page-wrapper" class="account-page-wrapper">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h1>Reset Password</h1>
            <p>{% trans "Password reset failed" %}</p>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
