{% extends "base.html" %}
{% load i18n bootstrap3 django_bootstrap_breadcrumbs %}

{% block title %}Reset Password | {{ site.name }}{% endblock title %}
{% block body_class %}accounts{% endblock %}

{% block content %}
<div id="login-page-wrapper" class="account-page-wrapper">
  <div class="row">
      <div class="col-sm-12">
          <div class="widget" data-widget="widget-title">
              <div class="widget-inside">
                  <h1 class="widget-title">Reset Password</h1>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <form method="post" action=".">
          {% csrf_token %}
          {{ form.media }}
          {% bootstrap_form form %}
        
          {% buttons %}
            <button type="submit" class="btn btn-primary">
              Reset Password
            </button>
          {% endbuttons %}
        </form>
    </div>
  </div>
</div>
{% endblock %}
