<div class="widget-search" data-widget="widget-search">
   <div class="widget-inside">
       <div class="widget-content">
            <h2 class="widget-title">{% block searchtitle %}{% endblock %}</h2>
            <div class="widget-content">
                <form method="GET" action="/catalog/search/" class="primary searchform">
                    <button type="submit" class="search-icon">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    <input type="text" class="search-input" name="q" placeholder="Search, ex.: early childhood education" required="required"/>
                </form>
            </div>
       </div>
   </div>
</div>