<div class="widget-panel-wrapper">
    <div class="widget-panel-image-wrapper" style="background-image: url('{{widget.image.url}}');">
        <a class="no-hover" href="{{widget.link}}">
            <div class="widget-panel-text">
                <div class="widget-panel-icon text-center">
                    <img src="{{widget.icon.url}}">
                </div>
                <div class="text-center">{{widget.text}}</div>
            </div>
            <img src="{{widget.image.url}}" class="spacer">
        </a>
    </div>
</div>